body {
    margin: 160px 0 0 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    background: black;
    display: none;
    text-align: center;
    z-index: 3;
    transition: 0.4s;
}
  
  /* ### INÍCIO DO CABEÇALHO ###*/
.topnav {
    position: fixed;
    background-color: #fff;
    padding: 80px 0px;
    width: 100%;
    transition: 0.3s;
    top: 0;
    z-index: 2;
}

.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    transition: 0.4s;
}

.topnav-right {
    float: right;
}

.topnav-right a {
    position: absolute;
    top: 50%;
    transform: translate(-300%, -50%);
    padding: 0;
}

.searchbtn { 
    font-size: 30px;
    color: gray;
    background-color: none;
    cursor: pointer;
}

.searchbtn:hover {
    color: #444;
}

/* Search bar */
input[type=text] {
    position: fixed;
    top: 160px;
    width: 100%;
    height: 60px;
    color: #666;
    box-sizing: border-box;
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: 21px;
    background-color: white;
    padding: 0 0 0 50px;
    z-index: 2;
    transition: top 0.3s;
    display: none;
}

::placeholder {
    color: #ccc;
}

/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 300px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 4; /* Stay on top */
    top: 0;
    left: -300px;
    background-color: white; 
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: auto;
    padding-top: 0; /* Place content 60px from the top */
    transition: 0.3s; /* 0.3 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a, .dropdown-btn {
    padding: 20px 10px 20px 32px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: #3f528c;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
}

.dropdown-btn i {
    display: block;
    float: right;
    padding-right: 30px;
}

.dropdown-container {
    display: none;
    background-color: #f2f2f2;
    font-weight: 500;
  }

.dropdown-container a {
    border-bottom: 1px solid white;
    font-weight: 400;
    padding-left: 60px;
}

.sidepanel .home { 
    border-left: 3px solid #8c8c8c;
}

.sidepanel .ativo a {
    padding: 60px 0 160px 30px;
    border-bottom:1px solid #f2f2f2;
}

.sidepanel .ativo a:hover {
    background-color: transparent;
}

.ativo span {
    color: #3f528c;
    font-size: 21px;
    font-weight: 700;
    position: absolute;
    padding: 25px 0 0 10px;
    border-top: none;
}

.sidepanel .sociais {
    padding: 20px 0 0 32px;
    transition: 0.3s;
}

.sidepanel .sociais a {
    display: inline;
    border: none;
    padding-left: 0;
}

.sidepanel .sociais a:hover {
    color: #ffd600;
    background-color: transparent;
}

.sidepanel p {
    font-size: 12px;
    font-weight: 300;
    color: #3f528c;
    padding-left: 32px;
    font-weight: 500;
}

.copyright {
    display: block;
    font-size: 10px;
    color: #3f528c;
    padding: 300px 0 32px 32px;
    font-weight: 700;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover, .dropdown-btn:hover {
    background-color: #ffd600;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    font-weight: 400;
    margin-left: 50px;
    border: none;
}

.sidepanel .closebtn:hover {
    color: #ffd600;
    background-color: transparent;
}

/* Style the button that is used to open the sidepanel */
.menu {
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    color: gray;
    position: absolute;
    padding: 0;
    border: none;
    top: 50%;
    transform: translate(200%, -50%);
}

.menu:hover {
    color: #444;
}

.menu span {
    position: absolute;
    font-size: 21px;
    font-weight: 300;
    padding: 7px 0 0 8px;
}
  
/* ### FIM DO CABEÇALHO ###*/
  
/* ### INÍCIO DO BANNER ###*/
/* Banner container*/
.banner-container {
    position: relative;
    max-width: 1920px;
    margin: 0 50px 18px 50px;
}

.item img {
    height: 450px;
    object-fit: cover;
    width: 100%;
    filter: brightness(70%);
}

.owl-carousel .nav-btn {
    position: absolute;
    cursor: pointer;
    top: 50% ;
    transform: translateY(-70%);
    font-size: 40px;
    color: white;
    transition: 0.6s ease;
    padding: 10px 20px 15px 20px;
}

.owl-carousel .nav-btn:hover {
    background-color: rgba(0,0,0,0.3);
}


.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.owl-carousel .prev-slide {
    left: 0;
}

.owl-carousel .next-slide {
    right: 0;
}

.owl-dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.banner-caption h1 {
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    color: white;
    width: 90%;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    padding: 0;
    text-align: center;
}

.banner-caption p {
    position: absolute;
    text-decoration: none;
    cursor: pointer;
    color: white;
    top: 270px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.divisa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flordelis {
    max-width: 20px;
    max-height: 20px;
    padding: 10px;
    opacity: 0.5;
}

.left-line, .right-line {
    position: absolute;
    border-top: 1px solid white;
    height: 0;
    width: 300px;
    opacity: 0.3;
}

.left-line {
    transform: translate(-295px, 20px);
}

.right-line {
    transform: translate(35px, -20px);
}

.banner-caption h5 {
    display: none;
}

.down-button {
    position: absolute;
    color: #8c8c8c;
    border: none;
    font-size: 35px;
    left: 50%;
    transform: translate(-50%, -32px);
    cursor: pointer;
    z-index: 1;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
}

.down-button:hover {
    color: #3f528c;
    font-size: 40px;
}

/* ### FIM DO BANNER ###*/

/* ### INNÍCIO DO GRID ###*/

.grid-container {
    height: 300px; 
    background-color: #f2f2f2; 
    padding: 50px 30px 50px 30px;
}

.grid-container .row {
    margin: 0;
}

.grid-container .column {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 0 20px 0 20px;
}

.link-card {
    text-decoration: none;
    color: #3f528c;
    top: 50%;
    transform: translateY(-50%);
}

.card {
    position: relative;
    box-sizing: border-box;
    box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    background-color: white;
    width: 100%;
    height: 300px;
    transition: 0.3s;
    border-top: 20px solid #8c8c8c;
    border-bottom: 20px solid #8c8c8c;
}

.card:hover {
  
    border-top: 20px solid #ffd600;
    border-bottom: 20px solid #ffd600;
}

#img-up {
    position: absolute;
    max-width: 40px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;   
}

#img-down {
    position: absolute;
    max-width: 30px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.3;
}

.card h2 {
    position: absolute;
    border-top: 1px solid rgba(63, 82, 140, 0.3);
    border-bottom: 1px solid rgba(63, 82, 140, 0.3);
    padding: 5px 20px 14px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.card h2 span {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
}

/* ### FIM DO GRID ###*/

/* ### INÍCIO DO BEM VINDO ###*/

.welcome-container {
    height: auto;
    text-align: center;
    margin-bottom: 50px;
}

.lema {
    font-family: 'Cinzel';
    color: #3f528c;
    font-size: 50px;
    padding: 20px 0 30px 0;
}

.yellow-bar {
    position: absolute;
    height: 0;
    width: 70px;
    border-top: 7px solid #ffd600;
    left: 50%;
    transform: translateX(-50%);
}

.welcome {
    font-size: 21px;
    color: #8c8c8c;
    padding-top: 50px;
}

.welcome-container p {
    padding: 40px 200px 0 200px;
    color: #8c8c8c;
    margin: 0 50px 0 50px;
    font-size: 16px;
    background-color: white;
    height: 100%;
}

/* ### FIM DO BEM VINDO ###*/


/* ### INÍCIO DO GRID INFO ###*/

.grid-more-info {
    display: grid;
    background-color: #ffd600;
    box-sizing: border-box;
}

.grid-more-info .row {
    margin: 0 30px;
}

.grid-more-info .column {
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    padding: 0 20px 0 20px;
}

.grid-more-info .content {
    color: white;
    position: relative;
    text-align: center;
    border: 7px solid white;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    min-height: 150px;
    transition: 0.3s;
}

.content:hover {
    background-color: #8c8c8c;
}

.grid-more-info a {
    text-decoration: none;
    color: white;
    padding: 0;
}

.grid-more-info p {
    font-family: 'Cinzel';
    font-size: 25px;
    font-weight: 700;
    transform: translateY(100%);
}

.content img {
    position: absolute;
    max-width: 30px;
    padding: 5px;
}

.column .content #up-left {
    transform: rotate(-45deg);
    left: 0;
}

.content #up-right {
    transform: rotate(45deg);
    right: 0;
}

.content #down-left {
    transform: rotate(-135deg);
    left: 0;
    bottom: 0;
}

.content #down-right {
    transform: rotate(135deg);
    right: 0;
    bottom: 0;
}

/* ### FIM DO GRID INFO ###*/


/*##############*/
/* Medium screns*/
/*##############*/

@media screen and (max-width: 1024px) {

    .banner-container {
        margin-right: 0;
        margin-left: 0;
    }

    .banner-caption p {
        width: 70%;
    }

    .grid-container {
        height: 640px;
    }

    .grid-container .column {
        width: 50%;
        padding-bottom: 40px;
    }

    .lema {
        font-size: 40px;
    }

    .welcome-container p {
        padding: 40px 100px 0 100px;
    }

    .grid-more-info .column {
        width: 100%;
    }

    .grid-more-info {
        padding-bottom: 50px;
    }

    .grid-more-info .content {
        margin-bottom: 0;
    }

    .grid-more-info p {
        font-size: 35px;
        transform: translateY(40%);
    }

}
  
  /*##############*/
  /* Smalls screns*/
  /*##############*/
  @media screen and (max-width: 728px) {

    body {
      margin: 70px 0 0 0;
    }

    #topnavbar {
        padding: 70px 0px 0 0 !important;
    }
    
    #logo {
        height: 60px !important;
    }

    .menu span {
        display: none;
    }
    
    .menu {
        transform: translate(100%, -50%);
    }
    
    .topnav-right a {
        transform: translate(-200%, -50%);
    }
    
    input[type=text]{
        top: 70px !important;
        position: fixed;
        padding-left: 25px;
        transition: none;
    }
    
    .owl-carousel .nav-btn {
        display: none;
    }

    .banner-caption h1 {
        width: 60%;
        border: 5px solid white;
        padding: 10px;
        top: 20px;
    }

    .banner-caption p {
        display: none;
    }

    .divisa {
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .left-line, .right-line {
        width: 120px;
    }

    .left-line {
        transform: translate(-115px, 20px);   
    }

    .banner-caption h5 {
        display: block;
        position: absolute;
        color: white;
        border: 1px solid white;
        font-weight: 300;
        padding: 5px;
        top: 67%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .grid-container {
        height: 1320px;
        padding-left: 0;
        padding-right: 0;
    }

    .grid-container .column {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .lema {
        font-size: 28px;
        padding: 30px;
    }

    .welcome-container p {
        padding: 40px 0 0 0;
    }

    .welcome {
        font-size: 21px;
        color: #8c8c8c;
        padding-top: 50px;
    }

    .grid-more-info {
        padding-bottom: 10px;
    }

    .grid-more-info .content {
        margin-top: 10px;
        margin-bottom: 0;
       
    }

    .grid-more-info .row {
        margin: 0 10px 0 10px;
    }

    .grid-more-info .column {
        padding: 0;
    }

    .grid-more-info p {
        font-size: 22px;
        transform: translateY(135%);
    }

}