/*### Seção O Colégio ###*/

.main-content {
    margin: 50px;
    display: grid;
}

.main-content .header h1 {
    font-family: 'Cinzel';
    color: #26408d;
    text-align: center;
    font-weight: 300;
    padding-top: 50px;
    margin: 0 10px 0 10px;
    text-transform: uppercase;
}

.main-content h3 {
    text-align: center;
}

.main-content #patrono {
    position: relative;
    margin-top: 50px; 
    left: 50%;
    transform: translateX(-50%);   
}

.main-content .text {
    position: relative;
    float: none;
    margin-top: 50px;
    color: #8c8c8c;
    width: 50%;
    text-align: justify;
    left: 50%;
    transform: translateX(-50%);
}

.main-content .yellow-bar {
    position: relative;
    height: 0;
    width: 70px;
    border-top: 7px solid #ffd600;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}

.main-content span {
    text-align: center;
    margin-top: 50px;
    padding: 0;
}

.main-content a {
    text-decoration: none;
    font-size: 21px; color:#26408d;
}

.main-content a:hover {
    text-decoration: underline;
}

.gallery-container {
    position: relative;
    float: none;
    margin-top: 50px;
    padding: 0;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #26408d;
}

.main-content .owl-carousel {
    position: relative;
    display: grid;
}

.main-content .owl-carousel .item img {
    filter: brightness(1); 
    height: auto;
    object-fit: cover;
}

.main-content .owl-carousel .nav-btn {
    position: absolute;
    cursor: pointer;
    top: 50% ;
    transform: translateY(-120%);
    font-size: 40px;
    color: #26408d;
    padding: 0;
    margin: 0;
}

.main-content .owl-carousel .nav-btn:hover {
    background-color: transparent;
}

.main-content .owl-carousel .prev-slide {
    left: -70px;
}

.main-content .owl-carousel .next-slide {
    right: -65px;
}

.main-content .owl-dots {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
}

/*### Calendário ###*/

.calendar-container {
    position: relative;
    margin-top: 50px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.month {
    position: relative;
    box-sizing: border-box;
    padding: 30px 25px;
    background: #26408d;
    text-align: center;
    width: 100%;
}

ul {
    list-style-type: none;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
    cursor: pointer;
}
  
.month .next {
    float: right;
    padding-top: 10px;
    cursor: pointer;
}

.weekdays {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 0;
    background-color: #ccc;
}

.weekdays li {
    box-sizing: border-box;
    display: inline-block;
    width: 13.6%;
    color: #8c8c8c;
    text-align: center;
}

.days {
    box-sizing: border-box;
    position: relative;
    padding: 10px 0;
    background: #eee;
    margin: 0;
    width: 100%;
}

.days li {
    box-sizing: border-box;
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #26408d;
    color: white !important;
}

.days li .event {
    padding: 2px;
    border: 4px solid #ffd600;
}

.days li .dayout {
    color: #ccc;
}

.dates-container {
    position: relative;
    margin-top: 50px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
}

.dates-container ul li {
    margin: 10px;
    color: #26408d;
}

.dates-container ul li span {
    margin-right: 10px;
    font-weight: 700;
    padding-left: 5px;
    border-left: 5px solid #ffd600;
}

/*### Ensino ###*/

.tablink-conatiner {
    margin: 0 50px;
}

/* Style tab links */
.tablink {
    box-sizing: border-box;
    color: #ccc;
    background-color: transparent;
    float: left;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-top: 7px solid white;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 21px;
    width: 25%;
    transition: ease-in-out 0.3s;
    -webkit-transition: ease-in-out 0.3s;
}
  
.tablink:hover {
    border-top: 7px solid #f2f2f2;
}

.tablink .title {
    display: block;
}

.tablink .icon {
    display: none;
}
  
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    box-sizing: border-box;
    margin: 0 50px;
    color: #8c8c8c;
    display: none;
    padding: 100px 20px;
    height: 100%;
    text-align: center;
}

.tabcontent h2 {
    font-family: 'Cinzel';
    margin-bottom: 50px;
    font-weight: 300;
    text-transform: uppercase;
    color: #26408d;
}

.tabcontent p {
    position: relative;
    width: 50%;
    left: 50%; 
    transform: translateX(-50%);
    text-align: justify;
}

.symbol {
    color: #ffd600;
    font-size: 70px;
}

/*
#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}
*/

/*##############*/
/* Medium screns*/
/*##############*/

@media screen and (max-width: 1150px) {

    .weekdays li, .days li {
        width: 13.1%;
    }

}

@media screen and (max-width: 1024px) {

    .main-content .text {
        width: 70%;
    }

    .gallery-container {
        width: 70%;
    }

    .calendar-container {
        width: 70%;
    }

    .dates-container {
        width: 70%;
    }
    
    .tablink {
        display: block;
        padding: 14px 7px;
    }

    .tabcontent p {
        width: 70%;
    }

}

/*##############*/
/* Smalls screns*/
/*##############*/
@media screen and (max-width: 760px) {

    .main-content {
        margin: 50px 0 50px 0;
        display: grid;
    }

    .main-content #patrono {
        width: 80%;
    }

    .main-content .text {
        width: 80%;
    }

    .main-content a {
        text-decoration: none;
        font-size: 14px; color:#26408d;
        text-align: center;
        margin-top: 50px;
    }

    .gallery-container {
        width: 100%;
    }

    .calendar-container {
        width: 100%;
    }

    .dates-container {
        width: 100%;
        transform: none;
        left: -30px;
    }

    .tablink-conatiner {
        margin: 0 30px;
    }

    .tablink {
        padding: 14px 10px;
        font-size: 30px;
    }

    .tablink .title {
        display: none;
    }

    .tablink .icon {
        display: block;
    }

    .tabcontent {
        margin: 0 10px;
    }
    
    .tabcontent p {
        width: 100%;
    }

}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}
  
@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}